.event
  .name = event.name
  .time = t('meetalendar.admin.group_search.event_at', start_time: l(event.start_time, format: :long))
  .yes_rsvp_count = t('meetalendar.admin.group_search.rsvp_count', count: event.yes_rsvp_count)
